language: python
python:
  - "3.6"

services:
  - docker

before_script: pip install docker-compose

script:
  - docker-compose run --rm app sh -c "python mangae.py makemigrations"
  - docker-compose run --rm app sh -c "python mangae.py migrate"
  - docker-compose run --rm app sh -c "python manage.py test && flake8"